.about-page {
    .aboutpage-body {
        margin-top: 10%;
        .aboutPage-card {
            height: 60%;
            overflow-y: hidden;
            p {
                padding: 2rem 0;
            }
        }
    }
}
