/* store global styles that apply to your entire React application */
body {
    height: 100svh;
    width: 100svw;
    // background-color: $BackgroundColor;
    #root {
      width: 100%;
      height: 100%;
    }
  }