.navbar {
    margin-top: 0;
    ul {
        justify-content: right;
        gap: 5rem;
        li {
            a {
                font-size: 18pt;
                &:hover {
                    color: $Yellow;
                    text-decoration: underline;
                }
            }
        }
    }
}